<div id="app-root">
  <h1>Secret Santa Gift Exchange App</h1>

  <h3>Instructions:</h3>
  <ul id="instructions">
    <li *ngFor="let instruction of instructions; let i = index">
      {{ i + 1 }}. {{ instruction }}
    </li>
  </ul>

  <h5>Participants ({{ vm.form?.participants?.length }})</h5>
  <ul id="participants">
    <li *ngFor="let participant of vm.form?.participants; let i = index">
      <div class="inputs">
        <input
          type="text"
          [(ngModel)]="participant.name"
          class="giver"
          placeholder="Write a name"
        />
        »»
        <input
          type="text"
          [ngModel]="vm.formLoading ? '' : participant?.to"
          class="receiver"
          placeholder="❓"
          disabled
        />
      </div>

      <select
        multiple
        [(ngModel)]="participant.excludes"
        placeholder="Select restrictions"
      >
        <ng-container *ngFor="let p2 of vm.form?.participants">
          <option *ngIf="p2.name != participant.name" [value]="p2.name">
            {{ p2.name }}
          </option>
        </ng-container>
      </select>
    </li>
  </ul>

  <button
    [disabled]="vm.formLoading"
    (click)="formEmitter.next({ type: 'add:participant' })"
  >
    ADD PARTICIPANT
  </button>
  <button
    [disabled]="vm.formLoading"
    (click)="formEmitter.next({ type: 'submit', form: vm.form })"
  >
    GENERATE
  </button>
  <button
    [disabled]="vm.formLoading"
    (click)="formEmitter.next({ type: 'reset' })"
  >
    CLEAR
  </button>

  <div [style.display]="vm.formError?.message ? 'block' : 'none'" id="error">
    {{ vm.formError?.message }}
  </div>

  <div [style.display]="vm.formLoading ? 'block' : 'none'" id="loading">
    Loading...
  </div>
</div>
